# Arquivos sensíveis
.env
echo "Procfile" >> .gitignore

# Dependências do Composer
vendor/

# Logs, cache e arquivos temporários
*.log
*.cache

# Sistema operacional (macOS, Windows)
.DS_Store
Thumbs.db

# Arquivos IDEs/editores (VSCode, PHPStorm)
.vscode/
.idea/