body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #dc3545;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #dc3545;
}

p {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.excluir {
  background: linear-gradient(90deg, #dc3545 0%, #b52b38 100%);
}

.excluir:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #b52b38 0%, #911f28 100%);
}

.voltar {
  background: linear-gradient(90deg, #6c757d 0%, #495057 100%);
}

.voltar:hover {
  transform: translateY(-2px);
  background: linear-gradient(90deg, #495057 0%, #343a40 100%);
}
