* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #333;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.titulo-link {
  text-decoration: none; 
  color: inherit; 
}
.titulo-link:hover {
  color: #a5a5a5; 
}

header {
  background-color: #007bff;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

#error-message {
  display: none;
  color: red;
  margin-top: 0.85rem; 
}

.welcome {
  font-size: 20px;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 calc(33.33% - 20px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card h3 {
  margin-top: 0;
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .card {
      flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
      flex: 1 1 100%;
  }
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.mensagem {
  text-align: center;
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #c3e6cb;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  font-weight: bold;
}

.btn-secundario {
  background-color: #ff9a57;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-secundario:hover {
  background-color: #ff6500;
}
